.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  
  .main-nav-brand {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .main-nav-links {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    flex-grow: 1;
  }
  
  .main-nav-link {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px; /* 링크들 사이의 간격 */
  }
  
  .main-nav-link-mypage {
    margin-right: 20px;
  }
  
  .main-nav-link:hover {
    background-color: #6200ea;
    color: white;
    border-radius: 4px;
  }
  
  .react-calendar {
    width: 90%;
    max-width: 500px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
    margin-bottom: 20px; /* 달력 아래에 간격을 추가합니다. */
  }
  
  .react-calendar__navigation {
    display: flex;
    margin-bottom: 1em;
  }
  
  .react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border: none;
    font-size: 16px;
    margin: 0 4px;
    cursor: pointer;
  }
  
  .react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
  }
  
  .react-calendar__navigation button:enabled:hover,
  .react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
  }
  
  .react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
  }
  
  .react-calendar__month-view__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .react-calendar__tile {
    max-width: initial !important;
    text-align: center;
    padding: 10px 6.6667px;
    background: none;
    border: none;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  .react-calendar__tile--now {
    background: #6200ea;
    color: white;
    border-radius: 50%;
  }
  
  .react-calendar__tile--now:hover,
  .react-calendar__tile--now:focus {
    background: #6200ea;
    color: white;
    border-radius: 50%;
  }
  
  .react-calendar__tile--hasActive {
    background: #f0f0f0;
  }
  
  .react-calendar__tile--active {
    background: #006edc;
    color: white;
    border-radius: 50%;
  }
  
  .react-calendar__tile--active:hover,
  .react-calendar__tile--active:focus {
    background: #006edc;
    color: white;
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--hasActive:enabled:focus {
    background: #f0f0f0;
  }
  
  .react-calendar__month-view__days__day--weekend {
    color: red;
  }
  
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #e6e6e6;
    border-radius: 50%;
  }
  